include variables
!!! 5
html(lang='#{meta.lang || $config('lang:default')}', class='#{locals.theme || 'light'}')
  include ../parts/head
  body(id='#{locals.id || ''}')
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=#{$config('analytics:GTM-Code')}', height='0', width='0', style='display:none;visibility:hidden')
    script
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','#{$config('analytics:GTM-Code')}');
    include ../parts/navbar
    include ../parts/content
    include ../parts/footer
    include ../parts/scripts